.keyboard-row1 {
    margin-bottom: 5px
}

.keyboard-row2 {
    margin-bottom: 5px;
    margin-left: 10px;
}

.keyboard-row3 {
    margin-bottom: 5px;
    margin-left: 32px;
}

.all-keyboard {
    margin: 5px;
}

.gallow {
    margin: 20;
}